.Rproj.user
.Rhistory
.RData
.Ruserdata
Figures/
manuscript_data.RData
scratch_work/
Reviews_and_Responses/
Major Revised Submission_2023.09.30/
Kouba_2023_end_of_dry_season_manuscript_final_2023.12.29_files/
Final Submission_2023.12.28/
Final Sumbission_2024.01.17/
Typesetting_review 2024.02.05/
Typesetting_review 2024.02.14/
Archive/
